<body>

<h2>User Profile</h2>

<ul class="side-navbar">

  <li><%= link_to "Your Listing", post_listing_path %></li>
  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
  <li><%= link_to "Request", invitations_path %></li>

</ul>

</body>
<h1>Edit Profile</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, [["male", "male"], ["female", "female"]], prompt: 'Select...', class: 'form-control' %>
  </div>

   <div class="field">
    <%= f.label :date_of_birth %><br />
    <%= f.date_select :date_of_birth, {order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %>    
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

<!--   <div class="field">
    <%= f.label :current_password %> <i>(Current password needed to update email and password)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div> -->

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

</br>
<h3>Cancel my account</h3>

<%= button_to "Cancel", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

