<div class="dashboard"><span>Dashboard</span>
	<span id ="dashboard-current-user"><%= current_user.last_name + " " + current_user.first_name%>
  	</span>
</div>
<div class="main-profile">
	<ul class="side-navbar">
	  <li class="active"><%= link_to "User profile", user_path(current_user.id) %></li>
	  <li><%= link_to "Your Posts", post_listing_path %></li>
	  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	  <li><%= link_to "Request", invitations_path %></li>
	  <li><a href="/users/<%=current_user.id%>/buddy">Buddy List</a></li>
	</ul>

	<div class="row">
	  <div class="profile-container">
		<h1>Buddy List</h1>
				<%@invitations.each do |request|%>
				<%if request.status == 1 %>
					<%= request.post.activity_type + " buddy:"%> 
					<%= image_tag(request.user.avatar.thumb.url)%>
					<%=request.user.last_name + " " + request.user.first_name%>
				<%end%>
			<%end%>
		</div>
	</div>
</div>