<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </div>
<% end %>
<%= form_tag("/search", method:"get") do %>
<%= text_field_tag "search_location", nil, placeholder:"Where are you going?" %>
<%= text_field_tag "search_activity", nil, placeholder:"Interested in?" %>
<%= submit_tag("Search!")%>
<% end %>

<% post = Post.all %>
<ul>
	<% post.each do |x| %>


		<li><%= link_to "#{x.activity_type}", post_path(x) %></li>


	<% end %>
</ul>

