<div class="row">
  <div class="video_container">
    <video autoplay loop="loop" preload="auto" class="photo">
      <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Ground-Zero.mp4" type='video/mp4'>
    </video>
    <div class="layer">
        <div class="title-container">
          <div class="logo"><%= image_tag "https://i.imgsafe.org/e120d0481b.png"%></div>
          <div class="row">
            <div class="col-md-12">
              <h1><span>LOOKING FOR A BUDDY</span></h1>
            </div>
          </div>
          <%= form_tag("/search", method:"get") do %>
          <div class="row">
            <div class="col-md-6">
              <span><div class="activities form-group">
              <% string = "<option selected disabled>Please select an activity</option>" %>
              <% Activity.all.each do |activity|%>
              <% string += "<option>#{activity.name}</option>" %>
              <% end %>
              <%= select_tag "activity[]", string.html_safe, class:"form-control" %>
                </div>
              </span>
            </div>
            <div class="col-md-6">
              <span>
                <div class="location form-group">

                <%= text_field_tag :location, params[:location], placeholder: "Where would you like to meet?", id:'geo-input', class:"form-control" %>

                </div>
              </span>
            </div>
            <div align="center" class="socialbtns">
              <ul>
                <li><a href="/users/auth/facebook" class="fa fa-lg fa-facebook"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-twitter"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-google-plus"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-github"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-pinterest"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-linkedin"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-instagram"></a></li></br>
                <li><a href="#" class="fa fa-lg fa-youtube"></a></li></br>
              </ul></br>
            </div>  <!-- social btns -->
          </div>  <!-- row -->
          <div class="row">
            <div class="col-md-12">
              <%= submit_tag "Search!", class: "form-control", id:"submit-search-btn" %>
              <%end%>
            </div>
          </div>
        </div>
      </div> <!-- title container -->
    </div> <!-- social icon -->
  </div> <!-- layer -->
</div> <!-- video container -->


<div class="header container-fluid">

  <h1>A platform to find someone who wants to do things together</h1>
  <p>just because two is better than one</p>
</div>

<div class="progressbar container">
  <div class="stepwizard">
    <div class="stepwizard-row">
      <div class="stepwizard-step">
        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">1</button>
        <p>Select activity</p>
      </div>
      <div class="stepwizard-step">
        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">2</button>
        <p>Search buddy</p>
      </div>
      <div class="stepwizard-step">
        <button type="button" class="btn btn-primary btn-circle" disabled="disabled">3</button>
        <p>Send request</p>
      </div> 
    </div>
  </div>
</div>

<div class="row" id="activity-row">
  <div class="activities-title-container">
    <h3>Find your activities nearby</h3>
  </div>
  <div class="activity-whole-container">
    <div class="activities-box-container">
      <div class="activity-box">
      <a href="search?utf8=✓&activity%5B%5D=Marathon&commit=Search%21">
        <img src="http://perthurbanrunners.com/wp-content/uploads/2016/05/f63ff0bb-8885-478a-8a24-57391358a19e.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Marathon</h4></div>
      </div>
      <div class="activity-box">
      <a href="search?utf8=✓&activity%5B%5D=Lunch&commit=Search%21">
        <img src=https://thumb1.shutterstock.com/display_pic_with_logo/1993499/360495404/stock-photo-two-pretty-girlfriends-laughing-while-sitting-in-a-bar-outdoors-students-having-pause-and-360495404.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Lunch</h4></div>
      </div>

      <div class="activity-box">
      <a href="search?utf8=✓&activity%5B%5D=Chess&commit=Search%21">
        <img src="https://cdn.grahamcluley.com/wp-content/uploads/2016/03/chess-600.jpeg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Chess</h4></div>
      </div>

      <div class="activity-box">
      <a href="search?utf8=✓&activity%5B%5D=Hiking&commit=Search%21">
        <img src="http://hikeontario.com/wp-content/uploads/2014/11/17_Hiking.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Hiking</h4></div>
      </div>

      <div class="activity-box blue">
      <a href="search?utf8=✓&activity%5B%5D=Baking&commit=Search%21">
        <img src="https://s8.guruin.com/db/photos/756864/url/D_0905.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Baking</h4></div>
      </div>

      <div class="activity-box red">
      <a href="search?utf8=✓&activity%5B%5D=Photography&commit=Search%21">
        <img src="https://img.grouponcdn.com/deal/sdbUoNyTHQSurXAUSgnm/FQ-2047x1228/v1/c700x420.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Photography</h4></div>
      </div>

      <div class="activity-box yellow">
      <a href="search?utf8=✓&activity%5B%5D=Workout&commit=Search%21">
        <img src="https://i1.read01.com/image.php?url=0ChznK08" width="300" height="200">
      </a>
        <div class="desc"><h4>Workout</h4></div>
      </div>
      
      <div class="activity-box">
      <a href="search?utf8=✓&activity%5B%5D=Travel&commit=Search%21">
        <img src="http://gravitasmag.com/wp-content/uploads/2014/04/Fotolia_50005652_Subscription_Monthly_M.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Travel</h4></div>
      </div>

      <div class="activity-box">
      <a href="search?utf8=✓&activity%5B%5D=Drawing&commit=Search%21">
        <img src="http://cdn3.craftsy.com/blog/wp-content/uploads/2014/06/Untitled-lea-sketch-002.jpg" alt="Fjords" width="300" height="200">
      </a>
        <div class="desc"><h4>Drawing</h4></div>
    </div>
  </div>
</div>

<div class="row" id="latest-post-row">

</div>

<footer>
  <div class="companydetails-container">
    <ul>
      <li>Contact us</li>
      <li>FAQ</li>
    </ul>
    <p>Copyright 2016. All Rights Reserved.</p>
  </div>
</footer>


<script>
  var input = document.getElementById('geo-input');
  var autocomplete = new google.maps.places.Autocomplete(input);
</script> 
