<div class="dashboard"><span>Dashboard</span>
	<span id ="dashboard-current-user"><%= current_user.last_name + " " + current_user.first_name%>
  	</span>
</div>
<div class="main-profile">
	<ul class="side-navbar">
	  <li class="active"><%= link_to "User profile", user_path(current_user.id) %></li>
	  <li><%= link_to "Your Posts", post_listing_path %></li>
	  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	  <li><%= link_to "Request", invitations_path %></li>
	  <li><a href="/users/<%=current_user.id%>/buddy">Buddy List</a></li>
	</ul>

	<div class="row">
	  <div class="profile-container">
		<h1>Buddy pairup around the world</h1>
			 <table class="table table-bordered">
				<tr>
					<th>Buddy Requests from</th>
					<th>Description</th>
					<th>Location</th>
					<th>Status</th>
				</tr>
				<% @invitations_to_you.each do |invitation| %>
				<%next if invitation.status == -1%>
					<tr>
						<td><%=link_to invitation.user.last_name + " " + invitation.user.first_name, user_path(invitation.user)%></td>
						<td><%=link_to invitation.post.description[0..80] + "...", post_path(invitation.post.id)%></td>
						<td><%= invitation.post.address%></td>
						<td>
								<%if invitation.status == 1 %>
									confirmed	
								<%elsif invitation.status == 0 %>
									<a id="confirm_btn" href="/invitation/<%= invitation.id %>/confirm", method: :get ><button>Confirm</button></a>
									<a id="decline_btn" href="/invitation/<%= invitation.id %>/decline", method: :get ><button>Decline</button></a>
								<%end%>				
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>

	<div class="invitee row">
	  <div class="profile-container">
		<h1>Your request is still pending..</h1>
			 <table class="table table-bordered">
				<tr>
					<th>Buddy Requests to</th>
					<th>Description</th>
					<th>Location</th>
					<th>Status</th>
				</tr>
				<% @invitations_from_you.each do |invitation| %>
				<%next if invitation.status == -1%>
					<tr>
						<td><%=link_to User.find(invitation.invitee_id).last_name + " " + User.find(invitation.invitee_id).first_name%></td>
						<td><%=link_to invitation.post.description[0..80] + "...", post_path(invitation.post.id)%></td>
						<td><%= invitation.post.address%></td>
						<td>
								<%if invitation.status == 1 %>
									confirmed	
								<%elsif invitation.status == 0 %>
									pending
									<a id="decline_btn" href="/invitation/<%= invitation.id %>/decline", method: :get ><button>Cancel</button></a>
								<%end%>				
						</td>
					</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>

