<div>
  Create your activity
</div>


<%= form_for @post, html: {multipart: true} do |f| %>

  <div class="form-group">
    <label>Activity Type</label>
    <%= f.select :activity_type, [["Travel", "Travel"], ["Food", "Food"], ["Shopping", "Shopping"], ["Hiking", "Hiking"]], id: 'activity_type', prompt: 'Select...', class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Preferred Language</label>
    <%= f.select :language_type, [["English", "English"], ["Malay", "Malay"], ["Mandarin", "Mandarin"], ["Tamil", "Tamil"]], id: 'language_type', prompt: 'Select...', class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Preferred Gender</label>
    <%= f.select :gender, [["Male", "Male"], ["Female", "Female"], ["Any", "Any"]], id: 'gender', prompt: 'Select...', class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Preferred meetup session</label>
    <%= f.select :duration_type, [["Morning", "Morning"], ["Afternoon", "Afternoon"], ["Night", "Night"]], id: 'duration_type', prompt: 'Select...', class: 'form-control' %>
  </div>


  <div class="form-group">
    <label>Description</label>
    <%= f.text_field :description, placeholder: 'Describe what would you like to do & share together', class: 'form-control' %>
  </div>


  <div class="form-group">
    <label>Location</label>
    <%= f.text_field :address, placeholder: 'Where would you like to meet?', class: 'form-control', id:'geo-input' %>
  </div>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>


<script>
  function initialize() {

  var input = document.getElementById('geo-input');
  var autocomplete = new google.maps.places.Autocomplete(input);

  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script> 




