<div class="container">
	<div class="row">
		<div class="posts-page col-md-4 filter-box">
			<h3>Filtering:</h3></br>
			<%= form_tag("/search", method:"get") do %>
	<div class="row">
		<div class="col-md-4">
            <span>
            	<div class="activities form-group">
            		<%= select_tag "activity", "<option selected disabled>Activity</option><option>Coding</option><option>Carpool</option><option>Dinner</option><option>Gym</option><option>Hangout</option><option>Hiking</option><option>Lunch</option><option>Shopping</option><option>Travel</option><option>Swimming</option>".html_safe, class:"form-control" %>
              	</div>
            </span>
        </div>
        <div class="col-md-2">
        </div>
		<div class="col-md-4">
            <span>
	            <div class="location form-group">
	            	<%= select_tag "location", "<option selected disabled>Location</option><option>Ampang</option><option>Cheras</option><option>Sri Petaling</option><option>Gym</option><option>Kuala Lumpur</option><option>KLCC</option><option>Petaling Jaya</option><option>Subang Jaya</option><option>TTDI</option>".html_safe, class:"form-control" %>
	            </div>
            </span>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-2">
    	</div>
        <div class="col-md-5">
            <%= submit_tag "Search!", class: "form-control" %>
            <%end%>
        </div>
    </div>
		</div>
		<div class="posts-page col-md-8">
			<div class="container">
				<div class="row">
					<% @posts.each do |post|%>
						<div class="card col-md-3">
							<div class="photo-row">
							</div>
							<div class="description-row">
								<%= post.description%></br>
								<%= post.address%></br>
								<%= post.activity_type%></br>
								Speaks <%= post.language_type%></br>
								<%= post.user.last_name + " " + post.user.first_name%></br>
							</div>
							<div class="button-row">
								<a href="/invitations"><button type="button" class="btn btn-danger">Request</button></a>
							</div>
						</div> <!--  card col-md-4 -->
					<%end%>
				</div>   <!-- row -->
			</div>  <!-- container -->
		</div>  <!-- posts-page col md-8 -->
	</div>  <!-- row -->
</div> <!-- container -->
