<div class="dashboard"><span>Dashboard</span>
	<span id ="dashboard-current-user"><%= current_user.last_name + " " + current_user.first_name%>
  	</span>
</div>
<div class="main-profile">
	<ul class="side-navbar">
	  <li class="active"><%= link_to "User profile", user_path(current_user.id) %></li>
	  <li><%= link_to "Your Posts", post_listing_path %></li>
	  <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
	  <li><%= link_to "Request", invitations_path %></li>
	  <li><a href="/users/<%=current_user.id%>/buddy">Buddy List</a></li>
	</ul>

	<div class="row">
	  <div class="profile-container">
		<h1>Your Posts:</h1>
			<table class="table table-bordered">
				<tr>
					<th>Activity</th>
					<th>Description</th>
					<th>Location</th>
				</tr>

				<% @listings.each do |listing| %>
					<tr>
						<td><%= listing.activity_type %></td>
						<td><%= link_to listing.description[0..30] + "...", post_path(listing.id) %></td>
						<td><%= listing.address %></td>
					</tr>
					<% end %>
			</table>
		</div>	
	</div>
</div>