<!DOCTYPE html>
<html>
<head>
  <title>TwoGo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- jquery CDN -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

  	<!-- font for picturebox -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Raleway:400,800)">

     <link rel="stylesheet" type="text/css"
          href="http://fonts.googleapis.com/css?family=Share:400,700)">
          
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- 	fontswesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
<body>
<div class="row">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Twogo</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!-- <li class="active"><a href="/">Home</a></li> -->
	      <!-- <li><a href="#">Page 1</a></li> -->
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<% if signed_in? %>
	    		<li><%= link_to "Post Activity", new_post_path%></li>

	    		<li id="navbar-hide"><%= link_to "Check Activities", posts_path%></li>
	    		<li id="navbar-hide"><%= link_to 'My Profile', user_path(current_user)%></li>

	    		<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	    	<%else%>	
	        <li><%= link_to "Sign in with Facebook",  user_omniauth_authorize_path(:facebook), id: "sign_in"%></li>
	        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      <%end%>
	    </ul>
	  </div>
	</nav>
</div> <!-- navbar -->

<!-- <div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div> -->
	 <% unless flash.empty? %>
	  <script type="text/javascript">
	      <% flash.each do |f| %>
	      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
	     	 toastr['<%= type %>']('<%= f[1] %>');
	      <% end %>
	  </script>
	 <% end %>
<%= yield %>

</body>
</html>
