<!DOCTYPE html>
<html>
<head>
  <title>TwoGo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<!-- 	fontswesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

</head>
<body>
<div class="row">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">Twogo</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <!-- <li class="active"><a href="/">Home</a></li> -->
	      <!-- <li><a href="#">Page 1</a></li> -->
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<% if signed_in? %>
	    		<li><%= link_to "Post Activity", new_post_path%></li>
	    		<li><%= link_to "Check Activities", posts_path%></li>
	    		<li><%= link_to 'My Profile', user_path(current_user)%></li>
	    		<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
	    	<%else%>	
	        <li><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in"%></li>
	        <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	      <%end%>
	    </ul>
	  </div>
	</nav>
</div> <!-- navbar -->

<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<%= yield %>

</body>
</html>
